<h1>這是文章後台喔 !!!</h1>

<ul>
	<% @posts.each do |post| %>
		<li>
			<%= post.title %>
			<%= post.content %>
			<%= link_to 'Show', admin_post_path(post) %>
			<%= link_to 'Edit', edit_admin_post_path(post) %>
			<%= link_to 'Delete', admin_post_path(post), method: :delete, data: { confirm: "Are you sure ?"} %>
		</li>
	<% end %>
</ul>
<%= link_to 'Create New Post', new_admin_post_path %>