<!DOCTYPE html>
<html>
  <head>
    <title>VitaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
	
	<!-- 定位在最上方 -->
	<!-- <nav class="navbar fixed-top navbar-dark bg-dark">
		<div class="container">

  			<a class="navbar-brand" href="#">Vita blog</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<% if current_user %>
						<li class="nav-item"><span class="navbar-text">Hi, <%= current_user.email %></li>
						<li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
						<li><%= link_to '修改密碼', edit_user_registration_path %></li>
					<% else %>
						<li><%= link_to '註冊', new_user_registration_path %></li>
						<li><%= link_to '登入', new_user_session_path %></li>
					<% end %>
				</ul>
  			</div>

  		</div>
	</nav> -->

	<!-- <p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> -->

	<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
		<div class="container">

  			<!-- <a class="navbar-brand" href="#">Vita's Blog</a> -->
  			<%= link_to "Vita's Blog", posts_path, class: "navbar-brand" %>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
	  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    		<ul class="navbar-nav mr-auto">
	      			<li class="nav-item">
	        			<a class="nav-link" href="#">About Vita</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" href="#">Note</a>
	      			</li>
	      			<li class="nav-item">
						<a class="nav-link" href="#">Portfolio</a>
					</li>
	    		</ul>
	    		<ul class="navbar-nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link" href="https://www.facebook.com/shela.hsieh" Target="_blank"><i class="fab fa-facebook-f"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/showlovezz" Target="_blank"><i class="fab fa-github-square"></i></a>
					</li>
				</ul>	
	  		</div>
	  		
	  	</div>
	</nav>

	<div class="jumbotron jumbotron-fluid navbar-dark bg-dark">
  		<div class="container">
    		<h1 class="display-4">歡迎來到 Vita 的部落格</h1>
    		<p class="lead">這是我用 Rails 開發的個人網站，內容含關於我、文章分享、作品集及個人相關連結。</p>
  		</div>
	</div>

    <%= yield %>
  </body>
</html>
				